.hero {
    background-image: url(/img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100dvh;
    position: relative;
    overflow: hidden;

    @media (max-width: 480px) {
      height: auto;
    }

    &::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 2;
        height: 120px;
        background-image: url(/img/hero-after-wave.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}

.poster {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;

    @media (max-width: 480px) {
      padding: 150px 0;

    }
    

    img {
        max-width: 800px;
        width: 50%;
    }
}
