@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    // background-image: url(/img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}

#__next {
    > section:first-of-type {
        margin-top: 100px;

        @media (max-width: 480px) {
            margin-top: 90px;
        }
    }
}
