.title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    span {
        display: flex;
        gap: 15px;

        .btn {
            border: 1.5px solid #121212;
            padding: 11px 41px;
            font-size: 20px;
            font-weight: 500;
            border-radius: 8.5px;
            background-color: #fff;
            cursor: pointer;
            color: #121212;
            box-shadow: 0px 1.42px 2.83px 0px #6951FF0D;
        }

        .active {
            border: 1.5px solid #121212;
            padding: 11px 41px;
            font-size: 20px;
            font-weight: 500;
            border-radius: 8.5px;
            color: #fff;
            background-color: #121212;
            cursor: pointer;
            box-shadow: 0px 1.42px 2.83px 0px #6951FF0D;
        }
    }
}

.products_wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    padding-bottom: 80px;
}

.empty_wrap{
    text-align: center;
    padding: 200px 0;
    h2{
        font-size: 40px;
        font-weight: 800;
    }
}