.card {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #121212;
    border: 1.5px solid #121212;

    img {
        width: 100%;
        height: 300px;
        object-fit: contain;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card_body{
        background-color: #121212;
        color: #fff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 20px 40px;
        p{
            font-size: 24px;
            font-weight: 800;
            padding-bottom: 6px;
        }
        h6{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 800;
        }
    }
}